.grid-section {
  margin: $xl-size;

  &__menu {
    display: flex;
    list-style-type: none;
    justify-content: center;

    > li {
      margin: 0 1.5rem;
      font-weight: 300;
      white-space: nowrap;
    }
  }

  &__showcase {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 25rem);
    grid-gap: 2rem;
    margin-top: $l-size;
    margin-bottom: 1rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .item-1 {
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;

      @media only screen and (max-width: $bp-medium) {
        grid-column: auto;
        grid-row: auto;
      }

      @media only screen and (max-width: $bp-medium-small) {
        grid-row: 1 / span 2;
      }
    }

    .item-2 {
      grid-column: 3 / -1;
      grid-row: 1 / 2;

      @media only screen and (max-width: $bp-medium) {
        grid-column: auto;
        grid-row: auto;
      }
    }

    .item-3 {
      grid-column: 3 / -1;

      @media only screen and (max-width: $bp-medium) {
        grid-column: auto;
        grid-row: auto;
      }
    }

    .item-4 {
      grid-row: 3 / span 2;

      @media only screen and (max-width: $bp-medium) {
        grid-column: auto;
        grid-row: auto;
      }
    }

    .item-5 {
      grid-column: 2 / span 2;
      grid-row: 3 / span 2;

      @media only screen and (max-width: $bp-medium) {
        grid-column: auto;
      }
    }

    .item-8 {
      grid-column: 1 / span 2;
      grid-row: 5 / span 2;

      @media only screen and (max-width: $bp-medium) {
        grid-column: auto;
      }

      @media only screen and (max-width: $bp-medium-small) {
        grid-row: auto;
      }
    }

    .item-9 {
      grid-column: 3 / span 2;
      grid-row: 5 / span 2;

      @media only screen and (max-width: $bp-medium) {
        grid-column: auto;
      }
    }

    @media only screen and (max-width: $bp-large) {
      grid-template-rows: repeat(5, 20rem);
    }

    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
      // grid-template-rows: repeat(6, 20rem);
    }
  }

  &--text-group {
    z-index: 10;
    position: absolute;
    bottom: $m-size;
    left: $m-size;

    p:first-child {
      margin-bottom: 0.5rem;
      font-size: 1.4rem;
      font-weight: 300;
    }

    p:nth-child(2) {
      font-size: 1.7rem;
      font-weight: 600;
    }
  }

  &__button {
    text-align: center;
  }

  @media only screen and (max-width: $bp-large) {
    margin: $xl-size $l-size;
  }
}

.item {
  position: relative;
  color: $color-primary;
}
