.header {
  position: relative;
  margin-bottom: $xl-size;

  &__photo {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    filter: brightness(50%);
  }

  &__brand {
    width: 4rem;
    position: absolute;
    top: $m-size;
    left: $m-size;
  }

  .header-introduction {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $color-primary;
  }

  &__title {
    font-size: 14rem;
    font-weight: 900;
    white-space: nowrap;
  }

  &__description {
    font-size: 2.6rem;
    letter-spacing: 1px;
  }
}
