.header {
  position: relative;
  min-height: 80vh;
  margin-bottom: $xl-size;

  &__photo {
    width: 100%;
    filter: brightness(50%);
  }

  .header-introduction {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $color-primary;
  }

  &__title {
    font-size: 14rem;
    font-weight: 900;
  }

  &__description {
    font-size: 2.8rem;
  }
}
