.header {
  position: relative;
  margin-bottom: $xl-size;

  &__photo {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    filter: brightness(50%);

    @media only screen and (max-width: $bp-small) {
      height: 65vh;
    }
  }

  &__brand {
    position: absolute;
    top: $m-size;
    left: $m-size;
    width: 4rem;

    @media only screen and (max-width: $bp-smallest) {
      width: 2.5rem;
    }
  }

  .header-introduction {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-primary;
    text-align: center;
  }

  &__title {
    font-family: $font-secondary;
    font-size: 14rem;
    font-weight: 900;
    white-space: nowrap;

    @media only screen and (max-width: $bp-medium-small) {
      font-size: 12rem;
    }

    @media only screen and (max-width: $bp-small) {
      margin-bottom: 2rem;
      font-size: 10rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      font-size: 8rem;
    }

    @media only screen and (max-width: 440px) {
      font-size: 4rem;
    }
  }

  &__description {
    font-family: $font-secondary;
    font-size: 2.6rem;
    font-weight: 300;
    letter-spacing: 1px;

    @media only screen and (max-width: $bp-smallest) {
      font-size: 2rem;
    }
  }
}
