.introduction-section-container {
  &--top {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: $xl-size;
    margin-left: $xl-size;
    margin-bottom: $xl-size;
  }

  &--bottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: $xl-size;
    margin-right: $xl-size;
  }
}

@mixin section-title {
  font-family: $font-secondary;
  font-size: 5.5rem;
  font-weight: 700;
  letter-spacing: 1.5px;
}

@mixin section-text($margin-top, $font-size: 1.6rem) {
  margin-top: $margin-top;
  font-size: $font-size;
  font-weight: 300;
  line-height: 2.5rem;
}

.introduction-section {
  &__title {
    @include section-title;
  }

  &__branding {
    @include section-text($s-size);
  }

  &__extra-text-1,
  &__extra-text-2 {
    @include section-text($m-size, 1.3rem);
    color: $color-tertiary;
  }
}

.introduction-section-photo {
  width: 100%;
}
