.menu {
  height: 0;
  visibility: hidden;

  &__checkbox:checked ~ &__background {
    transform: scale(70);
  }

  &__checkbox:checked ~ &__content {
    visibility: visible;
  }

  &__button {
    position: absolute;
    top: $m-size;
    right: $m-size;
    z-index: 200;
    width: 5rem;
    height: 5rem;
    background-color: $color-primary;
    border-radius: 50%;

    &--close,
    &--open {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-50%, 50%);
      width: 2.5rem;
      height: 2.5rem;
    }

    &--close {
      visibility: hidden;
    }
  }

  &__background {
    position: absolute;
    top: $m-size;
    right: $m-size;
    z-index: 100;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-image: radial-gradient($color-secondary, $color-dark);
    transition: transform 0.2s;
  }

  &__content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 150;
    visibility: hidden;
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__item {
    margin-bottom: 1.5rem;
    list-style-type: none;
  }

  &__link {
    display: inline-block;
    padding: 0.75rem 1.75rem;
    color: $color-primary;
    font-size: 3rem;
    font-weight: 200;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.2s;

    &:hover {
      color: $color-secondary;
      background-color: $color-primary;
    }
  }

  @media only screen and (max-width: $bp-medium-small) {
    visibility: visible !important;
  }
}
