.button {
  &--normal {
    display: inline-block;
    margin-top: $m-size;
    padding: 1.75rem 2.75rem;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5rem;
    transition: all 0.2s ease-out;
  }

  &:hover {
    background-color: $color-button;
    color: $color-primary;
    border: 0.5px solid $color-button;
  }
}

.white-button {
  color: $color-primary;
  border: 0.5px solid $color-primary;
}

.black-button {
  color: $color-secondary;
  border: 0.5px solid $color-secondary;
}

.small-button {
  padding: 1.25rem 2.75rem;
}
