.introduction-section-container {
  &--top {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: $xl-size;
    margin-bottom: $xl-size;

    @media only screen and (max-width: $bp-large) {
      grid-gap: $l-size;
    }

    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: repeat(2, minmax(40rem, 1fr));
    }

    @media only screen and (max-width: $bp-medium-small) {
      display: flex;
      flex-direction: column;
      margin-bottom: $l-size;
    }
  }

  &--bottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-right: $xl-size;

    @media only screen and (max-width: $bp-large) {
      margin-right: $l-size;
    }

    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: repeat(2, minmax(40rem, 1fr));
    }

    @media only screen and (max-width: $bp-medium-small) {
      display: flex;
      flex-direction: column-reverse;
      margin-right: 0;
    }
  }
}

.introduction-section {
  &__title {
    @include section-title;

    p {
      white-space: nowrap;
    }

    @media only screen and (max-width: $bp-smallest) {
      font-size: 4rem;
    }
  }

  &__branding {
    @include section-text($s-size);
  }

  &__extra-text-1,
  &__extra-text-2 {
    @include section-text($m-size, 1.3rem);
    color: $color-tertiary;
  }
}

.introduction-section-photo {
  width: 100%;
}

.introduction-section-text {
  margin-left: $xl-size;

  @media only screen and (max-width: $bp-large) {
    margin-left: $l-size;
  }

  @media only screen and (max-width: $bp-medium-small) {
    margin-bottom: $l-size;
    margin-right: $l-size;
  }

  @media only screen and (max-width: $bp-smallest) {
    margin-left: $m-size;
    margin-right: $m-size;
  }
}
