.logo-brand-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 12rem;
  grid-row-gap: 2rem;
  margin: $xl-size;

  img {
    width: 100%;

    @media only screen and (max-width: $bp-small) {
      width: 70%;
    }

    @media only screen and (max-width: $bp-smallest) {
      justify-self: center;
      width: 60%;
    }
  }

  @media only screen and (max-width: $bp-large) {
    margin: $xl-size $l-size;
  }

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 6rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    grid-template-columns: repeat(2, 1fr);
  }
}
