@mixin section-title {
  font-size: 5.25rem;
  font-weight: 600;
}

@mixin section-text($margin-top, $font-size: 1.4rem) {
  margin-top: $margin-top;
  font-size: $font-size;
  font-weight: 300;
  line-height: 2.5rem;
}

@mixin title-and-box($color: $color-button) {
  position: absolute;
  z-index: 10;
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
  font-weight: 300;
  color: $color-primary;
  text-transform: uppercase;
  background-color: $color;
}