// Colors
$color-primary: #fff;
$color-secondary: #292d2e;
$color-tertiary: #7f7f7f;

$color-button: #7443ff;
$color-blue: #59d0e7;
$color-dark: #262b3f;

$font-primary: 'Source Sans Pro', sans-serif;
$font-secondary: 'Heebo', sans-serif;

// Spacing
$xs-size: 1rem;
$s-size: 1.6rem;
$m-size: 3rem;
$l-size: 8rem;
$xl-size: 12rem;

// Responsive Breakpoints
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 46em; // 736px;
$bp-small: 37.5em; // 600px;
$bp-smallest: 30em; // 480px;
