// Colors
$color-primary: #fff;
$color-secondary: #292d2e;

$color-grey-dark-1: #919dab;
$color-grey-dark-2: #afbccc;

$font-primary: 'Source Sans Pro', sans-serif;
// $font-secondary: "IBM Plex Serif", sans-serif;

// Spacing
$s-size: 1.6rem;
$m-size: 4rem;
$l-size: 6rem;
$xl-size: 10rem;

// Responsive Breakpoints
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 46em; // 736px;
$bp-small: 37.5em; // 600px;
$bp-smallest: 30em; // 480px;
