// Colors
$color-primary: #fff;
$color-secondary: #292d2e;
$color-tertiary: #7f7f7f;

$color-button: #7443ff;
$color-blue: #59d0e7;
$color-dark: #262b3f;

$font-primary: "Poppins", sans-serif;

// Spacing
$xs-size: 1rem;
$s-size: 1.6rem;
$m-size: 3rem;
$l-size: 8rem;
$xl-size: 12rem;

// Responsive Breakpoints
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 55em; // 880px
$bp-medium-small: 52em; // 832px
$bp-small: 40em; // 640px
$bp-smallest: 35em; // 560px
$bp-xsmallest: 27em; // 432px
